.profile__modal {
    position: absolute;
    width: 430px;
    height: 330px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .profile__modal {
        width: 284px;
    }
}