.header__logo {
    margin: 45px 0 41px;
    background-image: url(../../../img/logo.svg);
    background-repeat: no-repeat;
    width: 142px;
    height: 33px;
    background-size: 100% 100%;
}

@media screen and (max-width: 425px){
    .header__logo {
        margin: 28px 0 31px 27px;
        height: 24.4px;
        width: 103.7px;
        background-size: 100% 100%;
}
}