.profile__modal-close {
    padding: 0;
    position: absolute;
    top: -35px;
    right: -35px;
    background-image: url(../../../../img/Close.svg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.profile__modal-close:hover {
    opacity: 0.6;
}