.elements__like {
    margin: 16px 20px 31px 21px;
    padding: 0;
    border: none;
    background-image: url(../../../img/like.svg);
    background-repeat: no-repeat;
    background-color: white;
    width: 22px;
    height: 19px;
    cursor: pointer;
}

.elements__like:hover {
    opacity: 0.5;
}