.profile__button-add {
    margin: 0 0 36px auto;
    padding: 23px 73px;
    background-image: url(../../../img/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    background-color: black;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1024px){
    .profile__button-add {
        margin: 0 auto;
        padding: 23px 139px;
        background-size: 16px 16px;
    }
}