.profile__but-edit {
    margin: 0;
    padding: 0;
    background-image: url(../../../img/pen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    cursor: pointer;
}

.profile__but-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1024px){
    .profile__but-edit {
        margin: auto 0;
        width: 18px;
        height: 18px;
    }
}